* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__register {
  display: flex;
  flex-direction: column;
}

.app__login {
  display: flex;
  flex-direction: column;
}

.app__input {
  border-bottom: 0;
}
